:root {
    --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --font-color: rgba(255, 255, 255, 0.87);
    --background-color: #242424;
    --link-color: #646cff;
    --link-hover-color: #535bf2;
    --button-background: #1a1a1a;
    --button-border-color: transparent;
    --button-hover-border-color: #646cff;
}

[data-theme='light'] {
    --font-color: #213547;
    --background-color: #ffffff;
    --link-color: #646cff;
    --link-hover-color: #747bff;
    --button-background: #f9f9f9;
    --button-border-color: transparent;
    --button-hover-border-color: #646cff;
}

body {
    margin: 0;
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}

.wrapper {
    text-align: center;
    max-width: 800px;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.theme-switcher {
    margin-bottom: 1em;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: var(--button-background);
    border: 1px solid var(--button-border-color);
    border-radius: 8px;
    cursor: pointer;
    color: var(--font-color);
    transition: border-color 0.25s;
}

.theme-switcher:hover {
    border-color: var(--button-hover-border-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

.footer {
    margin-top: 2em;
}

.footer p {
    font-size: 1em;
}

.ai-bg-remover__download-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 20px;
}

button {
    padding: 0.6em 1.2em;
    font-size: 1em;
    background-color: var(--button-background);
    border: 1px solid var(--button-border-color);
    border-radius: 8px;
    cursor: pointer;
    color: var(--font-color);
    transition: border-color 0.25s;
}

.ai-bg-remover__download-button:hover,
.ai-bg-remover__download-mask-button:hover,
.ai-bg-remover__clear-button:hover {
    border-color: var(--button-hover-border-color);
}

.ai-bg-remover__upload-button {
    margin-bottom: 1em;
    background-color: var(--font-color);
    border: 1px solid var(--button-background);
    border-radius: 8px;
    cursor: pointer;
    color: var(--button-background);
}

.ai-bg-remover__image {
    max-width: 100%;
    margin-top: 1em;
}
